.vs
bin
obj

./CEEG VjPro/PlugIns/BDG/Form/CZ.CEEG.BdgBos.Adj/.vs
./CEEG VjPro/PlugIns/BDG/Form/CZ.CEEG.BdgBos.Adj/*/bin
./CEEG VjPro/PlugIns/BDG/Form/CZ.CEEG.BdgBos.Adj/*/obj

./CEEG VjPro/PlugIns/BDG/Lists/*/.vs
./CEEG VjPro/PlugIns/BDG/Lists/*/*/bin
./CEEG VjPro/PlugIns/BDG/Lists/*/*/obj

./CEEG VjPro/PlugIns/BDG/Mobile/*/.vs
./CEEG VjPro/PlugIns/BDG/Mobile/*/*/bin
./CEEG VjPro/PlugIns/BDG/Mobile/*/*/obj

./CEEG VjPro/PlugIns/BDG/Service/*/.vs
./CEEG VjPro/PlugIns/BDG/Service/*/*/bin
./CEEG VjPro/PlugIns/BDG/Service/*/*/obj


./CEEG VjPro/PlugIns/CRM/CRMLists/*/.vs
./CEEG VjPro/PlugIns/CRM/CRMLists/*/*/bin
./CEEG VjPro/PlugIns/CRM/CRMLists/*/*/obj

./CEEG VjPro/PlugIns/CRM/Form/*/.vs
./CEEG VjPro/PlugIns/CRM/Form/*/*/bin
./CEEG VjPro/PlugIns/CRM/Form/*/*/obj

./CEEG VjPro/PlugIns/CRM/Mobile/*/.vs
./CEEG VjPro/PlugIns/CRM/Mobile/*/*/bin
./CEEG VjPro/PlugIns/CRM/Mobile/*/*/obj

./CEEG VjPro/PlugIns/CRM/Sevice/*/.vs
./CEEG VjPro/PlugIns/CRM/Sevice/*/*/bin
./CEEG VjPro/PlugIns/CRM/Sevice/*/*/obj

./CEEG VjPro/PlugIns/ERP/Form/*/.vs
./CEEG VjPro/PlugIns/ERP/Form/*/*/bin
./CEEG VjPro/PlugIns/ERP/Form/*/*/obj

./CEEG VjPro/PlugIns/ERP/Sevice/*/.vs
./CEEG VjPro/PlugIns/ERP/Sevice/*/*/bin
./CEEG VjPro/PlugIns/ERP/Sevice/*/*/obj



./CEEG VjPro/PlugIns/OA/Form/*/.vs
./CEEG VjPro/PlugIns/OA/Form/*/*/bin
./CEEG VjPro/PlugIns/OA/Form/*/*/obj

./CEEG VjPro/PlugIns/OA/Mobile/*/.vs
./CEEG VjPro/PlugIns/OA/Mobile/*/*/bin
./CEEG VjPro/PlugIns/OA/Mobile/*/*/obj

./CEEG VjPro/PlugIns/OA/Sevice/*/.vs
./CEEG VjPro/PlugIns/OA/Sevice/*/*/bin
./CEEG VjPro/PlugIns/OA/Sevice/*/*/obj

./CEEG VjPro/PlugIns/ScheduleTask/*/.vs
./CEEG VjPro/PlugIns/ScheduleTask/*/bin
./CEEG VjPro/PlugIns/ScheduleTask/*/obj

./CEEG VjPro/PlugIns/WorkTask/*/.vs
./CEEG VjPro/PlugIns/WorkTask/*/bin
./CEEG VjPro/PlugIns/WorkTask/*/obj

